.root {

    -fx-font-family: "serif";
}
.label {

    -fx-background-color: rgba(255, 255, 255, 0.9);
}
#default-background {
    -fx-background-image: url("../images/hospital.JPG");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#main-box {
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.serviceButton {
    -fx-background-color: rgba(84, 84, 84, 0.9);
    -fx-background-radius: 8px;
}

.header {
    -fx-background-color: #2c2b59;
    -fx-border-color: black;
}

.round-border{
    -fx-background-radius: 100;
}