/* Generic CSS */
.rounded {
    -fx-border-radius: 20;
    -fx-background-radius: 25;
}
.rounded_08 {
    -fx-border-radius: 18;
    -fx-background-radius: 18;
}

.lessRounded {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.titleText {
    -fx-text-fill: #cccccc;
    -fx-font-weight: bold;
    -fx-font-size: 25;
}

.bodyText {
    -fx-text-fill: #cccccc;
    -fx-font-weight: normal;
    -fx-font-size: 15;
}

.button {
    -fx-background-color: #333333;
    -fx-text-fill: #cccccc;
}

.background {
    -fx-background-color: #333333;
}

.textColor {
    -fx-text-fill: #CCCCCC;
}

.textColor_white {
    -fx-text-fill: #d2d2d2;
}

.darkColor {
    -fx-background-color: #0e4f4b;
}

.lightColor {
    -fx-background-color:  #188E87;
}

.darkBorder{
    -fx-border-color: #0e4f4b;
}
.lightBorder{
    -fx-border-color: #188E87;
}
.thinBorder{
    -fx-border-width: 3;
}
.thinnerBorder{
    -fx-border-width: 1;
}
.dropShadow{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.bold {
    -fx-font-weight: bold;
}

.largeFont{

}

/* Header */
.header {
    -fx-background-color: #0e4f4b;

}

.headerButton {
    -fx-background-color: #1f4d4a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
}


.headerSelectedButton {
    -fx-background-color: #163634;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
}

.headerText {
    -fx-font-size: 20;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

/* Sidebar */
.sidebarBackground {
    -fx-background-color: #255956;
}

.sidebarButton {
    -fx-background-color: #2f7773;
    -fx-text-fill: white;
}

.sidebarSelectedButton {
    -fx-background-color: #46a19c;
}

/* Page Background */

.pageBackgroundColor {
    -fx-background-color: #aeb5bb;
}

/* Page Container */

.container {
    -fx-background-color: #666666;
    -fx-border-color:  #333333;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 25;

}

.containerButton {
    -fx-background-color: #DFDFDF;
    -fx-text-fill: white;
}

.containerButtonSelected {
    -fx-background-color: #C4C4C4;
    -fx-text-fill: white;
}

/* Service Request */

.submitButton {
    -fx-background-color: #1f4d4a;
    -fx-text-fill: white;
}
.tableView{
    -fx-background-color: #1f4d4a;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.inputField {
    -fx-background-color: #e1e1e1;
    -fx-text-fill: #212121;
}

.inputLabel {
    -fx-text-fill: #212121;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.graphicsLabel{
    -fx-text-fill: #1f4d4a;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

/* Profile */
.gradient{
    -fx-background-color: linear-gradient(to bottom right, #020079, #993ab0);
    -fx-opacity: 0.96;
}

/* Profile */
.profile {
    -fx-border-radius: 100%;
}