#default-background {
    -fx-background-image: url("../images/hospital.JPG");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.label_default{
    -fx-text-fill: #CCCCCC;
    -fx-font-weight: 800;
}

.label_color{
    -fx-text-fill: #CCCCCC;
}
.label_title{
    -fx-text-fill: #CCCCCC;
    -fx-font-family: Calibri;
    -fx-font-style: Regular;
}

.label_subtitle{
    -fx-text-fill: #CCCCCC;
    -fx-font-family: Calibri ;
    -fx-font-style: "Bold";
}
#title_bar{
    -fx-opacity: 0.96;
    -fx-background-color:
            linear-gradient(to bottom right, #252762, #ab6185);
}

.title_bar{
    -fx-opacity: 0.96;
    -fx-background-color:
            linear-gradient(to bottom right, #252762, #ab6185);
}
#diagonal-gradient {
    -fx-background-color: linear-gradient(to bottom right, #5d32e7, #af5c68);
    -fx-background-radius: 8px;
}
.diagonal-gradient {
    -fx-background-color: linear-gradient(to bottom right, #5d32e7, #af5c68);
    -fx-background-radius: 8px;
}

#main-box {
    -fx-background-color: #333333;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

#main-page {
    /*-fx-background-color: #313030;*/
    -fx-background-color: #313030;
    -fx-padding: 10px;
}
.main-box {
    -fx-background-color: #333333;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.main-page {
    -fx-background-color: #696969;
    -fx-padding: 10px;
}
.label {
    /**font color*/
    -fx-dark-text-color: #ffffff;
    -fx-light-text-color: #404040;
    -fx-text-color: ladder(-fx-main-base, -fx-dark-text-color 29%, -fx-light-text-color 30%);
    -fx-text-fill: #cccccc;
}

/*----------------------------------------------------*/
.table-view, .tree-table-view {
    /**Globally define theme color variables default*/
    -fx-main-base: #1B2431;
    -fx-card-base: #273142;
    -fx-bar-base: #323D4E;

    /* Used to highlight/highlight objects. For example:
    selected *text; selected items in menus, lists, trees and tables; progress bars */

    -fx-accent-color: #4880ff;
    -fx-accent-suspension-color: rgba(72, 128, 255, 0.13);
    /*border color*/
    -fx-border-base: #313D4F;;
    -fx-cell-border-base: rgba(151, 151, 151, .4);

    -fx-font-base14: 14px;
    -fx-font-base16: 16px;

    /**font color*/
    -fx-dark-text-color: #ffffff;
    -fx-light-text-color: #404040;
    -fx-text-color: ladder(-fx-main-base, -fx-dark-text-color 29%, -fx-light-text-color 30%);

    -fx-icon-svg-color: rgb(3,115,248);
    /* Constants used throughout the tableview. */
    -fx-background-color: -fx-card-base;
    -fx-table-header-border-color: #700128;
    -fx-table-cell-border-color: -fx-cell-border-base;
    -fx-border-width: 0.6;
    -fx-border-color: -fx-border-base;
    -fx-background-insets: 0;
    -fx-padding: -0.9;
}

.table-view .column-header-background {
    -fx-background-color: -fx-border-base;
    /*-fx-background-insets: 10 10 0 0;*/
    -fx-pref-height: 49;
}

/** Column header row set background */
.table-view .column-header,
.table-view .filler {
    -fx-background-color: transparent;
}/**TableView column header shows hidden column button*/
.table-view > .column-header-background > .show-hide-columns-button {
    -fx-background-color: transparent;
}

/*Table content area*/
.table-view .placeholder {
    -fx-background-color: transparent;
}


.table-column {
    -fx-pref-height: 49;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-border-width: 0.4;
}

/*The style of each row of the table content area*/
.table-view .table-row-cell {
    -fx-border-color: -fx-cell-border-base;
    -fx-border-width: 0 0 0.4 0;
    -fx-background-color: transparent;
}

.table-view .table-row-cell .table-cell {
    -fx-pref-height: 52;
    -fx-alignment: center;
    -fx-border-width: 0.4;
}

.table-row-cell:odd {
    -fx-background-color: transparent;
}

.table-row-cell .text {
    -fx-fill: -fx-text-color;
}

/*Remove vertical bars without data between cells in TableView */
.table-view .table-row-cell:empty, .table-view .table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view .table-row-cell:selected {
    -fx-background-color: -fx-accent-suspension-color;

}

.table-view .table-row-cell:selected .table-cell {
    -fx-border-color: -fx-cell-border-base;
}

/**TableView column header text label*/
.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-family: "Calibri";
    -fx-font-weight: 300;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 12px;
}

/*----------------------------------------------------*/

/*******************************************************************************
*                                                                              *
* JFX Button                                                                   *
*                                                                              *
*******************************************************************************/

.jfx-button {
    -fx-accent-color: #868686;
    -fx-text-color: #CCCCCC;
    -fx-padding: 0.47em 0.47em;
    -fx-background-color: -fx-accent-color;
    -fx-text-fill: -fx-text-color;
    -jfx-button-type: RAISED;

}

.jfx-button > MaterialDesignIconView, .toggle-button > MaterialDesignIconView {
    -fx-fill: -fx-text-color;
    -fx-text-fill: -fx-text-color;
    -fx-prompt-text-fill: -fx-text-color;
    -jfx-size: 16px;
}
.jfx-toggle-button{
    -fx-text-fill: -fx-text-color;
}


.left-pill {
    -fx-text-fill: -fx-text-color;
    -fx-background-insets: 0;
    -fx-background-color: -fx-bar-base;
    -fx-border-color: rgba(207, 207, 207, 0.11);
    -fx-background-radius: 14 0 0 14;
    -fx-border-radius: 14 0 0 14;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.75em; /* 4 8 4 9 */
}

.center-pill {
    -fx-text-fill: -fx-text-color;
    -fx-background-color: -fx-bar-base;
    -fx-border-color: rgba(207, 207, 207, 0.11);
    -fx-border-width: 1 1 1 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.right-pill {
    -fx-text-fill: -fx-text-color;
    -fx-background-color: -fx-bar-base;
    -fx-border-color: rgba(207, 207, 207, 0.11);
    -fx-background-radius: 0 14 14 0;
    -fx-border-radius: 0 14 14 0;
    -fx-border-width: 1 1 1 0;
    -fx-background-insets: 0;

}

.left-pill:hover {
    -fx-background-color: derive(-fx-bar-base, 20%)
}

.left-pill:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 14 0 0 14;
}

.left-pill:pressed {
    -fx-background-color: derive(-fx-bar-base, 30%)
}

.center-pill:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 0, 0, 0, 0, 0;
}

.center-pill:hover {
    -fx-background-color: derive(-fx-bar-base, 20%)
}

.center-pill:pressed {
    -fx-background-color: derive(-fx-bar-base, 30%)
}

.right-pill:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 0 14 14 0;
}

.right-pill:hover {
    -fx-background-color: derive(-fx-bar-base, 20%)
}

.right-pill:pressed {
    -fx-background-color: derive(-fx-bar-base, 30%)
}

.toggle-button:selected .left-pill:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 14 0 0 14;
}

.toggle-button:selected .center-pill:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 0, 0, 0, 0;
}

.toggle-button:selected .right-pill:focused {
    -fx-background-insets: 0;
    -fx-background-radius: 0 14 14 0
}
/***********************************************/



.serviceButton {
    -fx-background-color: rgb(153, 153, 153);
    -fx-background-radius: 8px;
}
.commonButton {
    -fx-background-color: rgba(84, 84, 84, 0.9);
    -fx-background-radius: 8px;
}

.header {
    -fx-background-color: #0c0c2f;
    -fx-border-color: black;
    -fx-opacity: 0.95;
}

.round-border{
    -fx-background-radius: 100;
}

.primary-color{
    -fx-text-color: #FFFFFF;
}

.secondary-color{
    -fx-background-color: rgba(66, 66, 66, 0.9);
}

.table-column {
    -fx-pref-height: 49;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-border-width: 0.4;
}
.inner-color{
    -fx-text-inner-color: #ffffff;
}

.combo-box .cell{
    -fx-text-fill: rgba(128, 128, 128, 0.9);
    -fx-font: 12px "Arial";
}
.my-list-cell {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font: 12px "Arial";
    /* No alternate highlighting */
    -fx-background-color: rgba(66, 66, 66, 0.9);
}