#default-background {
  -fx-background-image: url("../images/hospital.JPG");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;


}

.coverPage{
  -fx-background-color: rgba(255, 255, 255, 0.59);
}
#coverPage_intro{
  -fx-text-fill: rgb(0, 0, 0);
  -fx-font-family: Calibri ;
  -fx-font-style: "Bold";
}
.label_default{
  -fx-text-fill: #333333;
  -fx-font-weight: 800;
}

.label_color{
  -fx-text-fill: #333333;
}
.label_title{
  -fx-text-fill: #171717;
  -fx-font-family: Calibri;
  -fx-font-style: Regular;
}
.label_subtitle{
  -fx-text-fill: #171717;
  -fx-font-family: Calibri ;
  -fx-font-style: "Bold";
}
#title_bar{
  -fx-opacity: 0.96;
  -fx-background-color:
          linear-gradient(to bottom right, #2e317c, #d276a3);
}
.title_bar{
  -fx-opacity: 0.96;
  -fx-background-color:
          linear-gradient(to bottom right, #2e317c, #d276a3);
}

#diagonal-gradient {
  -fx-background-color: linear-gradient(to bottom right, #9c78ff, #ffa0ae);
  -fx-background-radius: 8px;
}

.diagonal-gradient {
  -fx-background-color: linear-gradient(to bottom right, #9c78ff, #ffa0ae);
  -fx-background-radius: 8px;
}
.label {
  /**font color*/
  -fx-dark-text-color: #ffffff;
  -fx-light-text-color: #404040;
  -fx-text-color: ladder(-fx-main-base, -fx-dark-text-color 29%, -fx-light-text-color 30%);
  -fx-text-fill: black;
}
/*----------------------------------------------------*/
.table-view, .tree-table-view {
  /**Globally define theme color variables default*/
  -fx-main-base: #f5f6fa;
  -fx-card-base: #ffffff;
  -fx-bar-base: #ffffff;

  /* Used to highlight/highlight objects. For example:
  selected *text; selected items in menus, lists, trees and tables; progress bars */

  -fx-accent-color: #4880ff;
  -fx-accent-suspension-color: rgba(72, 128, 255, 0.13);
  /*border color*/
  -fx-border-base: rgba(185, 185, 185, .3);;
  -fx-cell-border-base: rgba(185, 185, 185, 0.7);

  -fx-font-base14: 14px;
  -fx-font-base16: 16px;

  /**font color*/
  -fx-dark-prompt-text-color: #ffffff;
  -fx-light-prompt-text-color: #737373;
  -fx-dark-text-color: #ffffff;
  -fx-light-text-color: #404040;
  -fx-text-color: ladder(-fx-main-base, -fx-dark-text-color 29%, -fx-light-text-color 30%);

  -fx-icon-svg-color: rgb(3, 115, 248);
  /* Constants used throughout the tableview. */
  -fx-background-color: -fx-card-base;
  -fx-table-header-border-color: #700128;
  -fx-table-cell-border-color: -fx-cell-border-base;
  -fx-border-width: 0.6;
  -fx-border-color: -fx-border-base;
  -fx-background-insets: 0;
  -fx-padding: -0.9;
}

.table-view .column-header-background {
  -fx-background-color: -fx-border-base;
  /*-fx-background-insets: 10 10 0 0;*/
  -fx-pref-height: 49;
}

/** Column header row set background */
.table-view .column-header,
.table-view .filler {
  -fx-background-color: transparent;
}/**TableView column header shows hidden column button*/
.table-view > .column-header-background > .show-hide-columns-button {
  -fx-background-color: transparent;
}

/*Table content area*/
.table-view .placeholder {
  -fx-background-color: transparent;
}


.table-column {
  -fx-pref-height: 49;
  -fx-background-color: transparent;
  -fx-alignment: center;
  -fx-border-width: 0.4;
}

/*The style of each row of the table content area*/
.table-view .table-row-cell {
  -fx-border-color: -fx-cell-border-base;
  -fx-border-width: 0 0 0.4 0;
  -fx-background-color: transparent;
}

.table-view .table-row-cell .table-cell {
  -fx-pref-height: 52;
  -fx-alignment: center;
  -fx-border-width: 0.4;
}

.table-row-cell:odd {
  -fx-background-color: transparent;
}

.table-row-cell .text {
  -fx-fill: -fx-text-color;
}

/*Remove vertical bars without data between cells in TableView */
.table-view .table-row-cell:empty, .table-view .table-row-cell:empty .table-cell {
  -fx-border-width: 0px;
}

.table-view .table-row-cell:selected {
  -fx-background-color: -fx-accent-suspension-color;

}

.table-view .table-row-cell:selected .table-cell {
  -fx-border-color: -fx-cell-border-base;
}

/**TableView column header text label*/
.table-view .column-header .label {
  -fx-alignment: center;
  -fx-font-family: "Calibri";
  -fx-font-weight: 300;
  -fx-text-fill: -fx-text-color;
  -fx-font-size: 12px;
}
/*******************************************************************************
*                                                                              *
* JFX Button                                                                   *
*                                                                              *
*******************************************************************************/

.jfx-button {
  -fx-accent-color: #999999;
  -fx-text-color: #333333;
  -fx-padding: 0.47em 0.47em;
  -fx-background-color: -fx-accent-color;
  -fx-text-fill: #ffffff;
  -jfx-button-type: RAISED;
}

.jfx-button > MaterialDesignIconView, .toggle-button > MaterialDesignIconView {
  -fx-fill: -fx-text-color;
  -fx-text-fill: -fx-text-color;
  -fx-prompt-text-fill: -fx-text-color;
  -jfx-size: 16px;
}

.jfx-toggle-button {
  -fx-text-fill: -fx-text-color;
}

.left-pill {
  -fx-text-fill: -fx-text-color;
  -fx-background-insets: 0;
  -fx-background-color: -fx-bar-base;
  -fx-border-color: rgba(207, 207, 207, 0.5);
  -fx-background-radius: 14 0 0 14;
  -fx-border-radius: 14 0 0 14;
  -fx-padding: 0.333333em 0.666667em 0.333333em 0.75em; /* 4 8 4 9 */
}

.center-pill {
  -fx-text-fill: -fx-text-color;
  -fx-background-color: -fx-bar-base;
  -fx-border-color: rgba(207, 207, 207, 0.5);
  -fx-border-width: 1 1 1 0;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
}

.right-pill {
  -fx-text-fill: -fx-text-color;
  -fx-background-color: -fx-bar-base;
  -fx-border-color: rgba(207, 207, 207, 0.5);
  -fx-background-radius: 0 14 14 0;
  -fx-border-radius: 0 14 14 0;
  -fx-border-width: 1 1 1 0;
  -fx-background-insets: 0;

}

.left-pill:hover {
  -fx-background-color: derive(-fx-bar-base, -20%)
}

.left-pill:focused {
  -fx-background-insets: 0;
  -fx-background-radius: 14 0 0 14;
}

.left-pill:pressed {
  -fx-background-color: derive(-fx-bar-base, -30%)
}

.center-pill:focused {
  -fx-background-insets: 0;
  -fx-background-radius: 0, 0, 0, 0, 0;
}

.center-pill:hover {
  -fx-background-color: derive(-fx-bar-base, -20%)
}

.center-pill:pressed {
  -fx-background-color: derive(-fx-bar-base, -30%)
}

.right-pill:focused {
  -fx-background-insets: 0;
  -fx-background-radius: 0 14 14 0;
}

.right-pill:hover {
  -fx-background-color: derive(-fx-bar-base, -20%)
}

.right-pill:pressed {
  -fx-background-color: derive(-fx-bar-base, -30%)
}

.toggle-button:selected .left-pill:focused {
  -fx-background-insets: 0;
  -fx-background-radius: 14 0 0 14;
}

.toggle-button:selected .center-pill:focused {
  -fx-background-insets: 0;
  -fx-background-radius: 0, 0, 0, 0;
}

.toggle-button:selected .right-pill:focused {
  -fx-background-insets: 0;
  -fx-background-radius: 0 14 14 0
}
/*----------------------------------------------------*/
#main-box {
  -fx-background-color: rgb(204, 204, 204);
  -fx-background-radius: 10px;
  -fx-padding: 10px;
}
#main-page {
  -fx-background-color: rgb(204, 204, 204);
  -fx-padding: 10px;
}

.main-box {
  -fx-background-color: rgb(204, 204, 204);
  -fx-background-radius: 10px;
  -fx-padding: 10px;
}
.main-page {
  -fx-background-color: rgb(204, 204, 204);
  -fx-padding: 10px;
}
.serviceButton {
  -fx-background-color: rgba(136, 136, 136, 0.9);
  -fx-background-radius: 8px;
}

.commonButton {
  -fx-background-color: rgba(200, 200, 200, 0.9);
  -fx-background-radius: 8px;
}

.header {
  -fx-background-color: #3b36d0;
  -fx-border-color: black;
  -fx-opacity: 0.95;
}

.title{
  -fx-text-color: #000000;
}

.round-border{
  -fx-background-radius: 100;
}

.primary-color{
  -fx-background-color: #FFFFFF;
}

.secondary-color{
  -fx-background-color: #E7E7E7;
}

.table-column {
  -fx-pref-height: 49;
  -fx-background-color: transparent;
  -fx-alignment: center;
  -fx-border-width: 0.4;
}

* {
   -fx-darkest-grey-color: #323232;
 }

.radio-button .radio {
  -fx-border-width: 1px;
  -fx-border-color: -fx-darkest-grey-color;
  -fx-background-color: white;
  -fx-background-image: null;
  -fx-border-radius: 15px;
  -fx-padding: 3px;
  -fx-text-fill: black;
}

.inner-color{
  -fx-text-inner-color: #000000;
}

.combo-box .cell{
  -fx-text-fill: #000000;
  -fx-font: 12px "Arial";
}
.my-list-cell {
  -fx-text-fill: #000000;
  -fx-font: 12px "Arial";
  /* No alternate highlighting */
  -fx-background-color: #FFF;
}