/* Generic CSS */
.rounded {
    -fx-border-radius: 20;
    -fx-background-radius: 25;
}
.rounded_08 {
    -fx-border-radius: 18;
    -fx-background-radius: 18;
}

.lessRounded {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.titleText {
    -fx-text-fill: #212121;
    -fx-font-weight: bold;
    -fx-font-size: 25;
}

.bodyText {
    -fx-text-fill: #212121;
    -fx-font-weight: normal;
    -fx-font-size: 15;
}

.button {
    -fx-background-color: #e1e1e1;
    -fx-text-fill: #212121;
}

.background {
    -fx-background-color: #EEEEEE;
}

.textColor {
    -fx-text-fill: #212121;
}

.darkColor {
    -fx-background-color:   #188E87;
}

.lightColor {
    -fx-background-color:  #30B6AE;
}

.darkBorder{
    -fx-border-color: #188E87;
}
.lightBorder{
    -fx-border-color: #30B6AE;
}
.thinBorder{
    -fx-border-width: 3;
}
.thinnerBorder{
    -fx-border-width: 1;
}
.dropShadow{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}
.bold {
    -fx-font-weight: bold;
}

.largeFont{

}

/* Header */
.header {
    -fx-background-color: #2E716D;

}

.headerButton {
    -fx-background-color: #2E716D;
    -fx-text-fill: #204F87;
}

.headerSelectedButton {
    -fx-background-color: #368C87;
    -fx-text-fill: #ffffff;
}

.headerText {
    -fx-font-size: 20;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

/* Sidebar */
.sidebarBackground {
    -fx-background-color: #368C87;
}

.sidebarButton {
    -fx-background-color: #368C87;
    -fx-text-fill: white;
}

.sidebarSelectedButton {
    -fx-background-color: #53C2BC;
}

/* Page Background */

.pageBackgroundColor {
    -fx-background-color: #f0f8ff;
}

/* Page Container */

.container {
    -fx-background-color:  #FFFFFF;
    -fx-border-color:  #666666;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 25;

}

.containerButton {
    -fx-background-color: #DFDFDF;
    -fx-text-fill: white;
}

.containerButtonSelected {
    -fx-background-color: #C4C4C4;
    -fx-text-fill: white;
}

/* Service Request */

.submitButton {
    -fx-background-color: #2E716D;
    -fx-text-fill: white;
}
.tableView{
    -fx-background-color: #2E716D;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.inputField {
    -fx-background-color: #e1e1e1;
    -fx-text-fill: #212121;
}

.inputLabel {
    -fx-text-fill: #212121;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.graphicsLabel{
    -fx-text-fill: #2E716D;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

/* Profile */
.gradient{
    -fx-background-color: linear-gradient(to bottom right, #70A8dc, #CDABD9);
    -fx-opacity: 0.96;
}

/* Profile */
.profile {
    -fx-border-radius: 100%;
}